*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    height: 100%;
}
.clear{
    clear: both;
}

header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid #ccc;
}
.center{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
}
.logo{
    width: 60px;
    float: left;
    height: 60px;
    border-radius: 50%;
    background-image: url("../img/lud.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.logo h1{
    font-size: 25px;  
    padding: 12px 0;      
}
.logo a{
    color: white;
    text-decoration: none;
}
nav.desktop{
    width: 90%;
    float: left;
}
nav.desktop ul{
    list-style: none;
    text-align: right;
    padding: 21px 0;
}
nav.desktop ul li{
    display: inline;
    padding: 5px 10px;
}
nav.desktop ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
nav a:hover{
    border-bottom: 2px solid #ccc;
}
section.banner{
    width: 100%;
    background-image: url(../img/banner1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}
section.sobre{
    width: 100%;
    padding: 20px 0;    
    text-align: left;        
}
.sobre > .center{
    max-width: 800px; 
    display: flex;  
    flex-direction: row;
}
.sobre-pic-outter{
    width: 30%;      
}
.sobre-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    bottom: 0;    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../img/lud.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sobre-icons{
    width: 40px;
    height: 40px;    
    border-radius: 50%;
    background-color: #ccc;
    margin: 5px;
    position: relative;
    top: 15px;    
}
.sobre-icons i{    
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);  
    text-decoration: none;
    color: #000; 
}
.sobre-icons i a{     
    text-decoration: none;
    color: #000; 
}
.sobre-description{
    width: 70%;    
}
.sobre-description h1{     
    font-size: 40px;
    color: #707070;
    opacity: 1; 
    font-weight: bold;   
}
.sobre-description h2{     
    font-size: 20px;
    color: #707070;
    opacity: 1; 
    font-style: italic; 
    font-weight: lighter; 
    padding: 10px 0;  
}
.sobre-description p{     
    font-size: 15px;
    color: #707070;
    opacity: 1;     
    font-weight: lighter; 
    padding: 10px 0;  
}

.formacao{
    width: 100%;
    padding: 30px 0;
    background-color: #dedede;
}
.formacao h3{     
    font-size: 25px;
    color: #707070;
    opacity: 1;     
    font-weight: lighter; 
    padding: 10px 0;  
}
.form-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
.borda{
    width: 8px;
    height: 56px;
    background-color: black;
    border-radius: 5px;
}
.text{    
    display: flex;
    flex-direction: column;    
}
.text .ano{     
    font-size: 12px;
    color: #707070;
    opacity: 1;     
    font-weight: lighter; 
    padding: 2px 0;  
    margin-left: 10px;    
}
.text .profisao{     
    font-size: 18px;
    color: #707070;
    opacity: 1;
    font-weight: bold;     
    margin-left: 10px;
}
.text .nome-university{     
    font-size: 12px;
    color: #707070;
    opacity: 1;     
    font-weight: lighter;      
    margin-left: 10px;
    text-transform: uppercase; 
    padding: 2px 0;   
}

.experiencia{
    width: 100%;
    padding: 30px 0;
    background-color: #434343;
}
.experiencia h3{     
    font-size: 25px;
    color: #999999;
    opacity: 1;     
    font-weight: lighter; 
    padding: 10px 0;  
}
.exp-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
.borda-exp{
    width: 8px;
    height: 56px;
    background-color: white;
    border-radius: 5px;
}
.text-exp{    
    display: flex;
    flex-direction: column;    
}
.text-exp .ano{     
    font-size: 12px;
    color: #999999;
    opacity: 1;     
    font-weight: lighter; 
    padding: 2px 0;  
    margin-left: 10px;    
}
.text-exp .profisao{     
    font-size: 18px;
    color: #999999;
    opacity: 1;
    font-weight: bold;     
    margin-left: 10px;
}
.text-exp .nome-university{     
    font-size: 12px;
    color: #999999;
    opacity: 1;     
    font-weight: lighter;      
    margin-left: 10px;
    text-transform: uppercase; 
    padding: 2px 0;   
}
.projetos{
    width: 100%;
    padding: 30px 0;
    background-color: #f2f2f2;
}
.projetos h3{     
    font-size: 25px;
    color: #707070;
    opacity: 1;     
    font-weight: lighter; 
    padding: 10px 0;  
}
.content{
    width: 33.3%;
    float: left;
}
.proj-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}
.proj-content img{
    width: 100%;
}
.proj-content h4{     
    font-size: 20px;
    color: #707070;
    opacity: 1; 
    font-weight: bold; 
    padding: 10px 0;  
}
.proj-content p{     
    font-size: 13px;
    color: #707070;
    opacity: 1;     
    font-weight: lighter;      
}
.proj-content button{
    background-color: #585858;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 15px 0 0;
    padding: 10px;
    width: 50%;
}
.button{
    display: flex;
    flex-direction: row;
}
section.contato{
    padding: 30px 0;
    background-color: black;
}
.contato h3{     
    font-size: 25px;
    color: #707070;
    opacity: 1;     
    font-weight: lighter; 
    padding: 10px 0;  
}
.w50{
    width: 50%;
    float: left;
}
.w50 p{
    font-size: 18px;
    color: #707070;
    opacity: 1;     
    font-weight: lighter;    
    line-height: 1.8;
    margin-top: 30px;
}
.w50 p a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
}
.contato label{
    color: white;    
}
.contato input[type=text]{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin: 10px 0;
    font-size: 15px;
    display: inline-block;
    outline: 0;
    border-radius: 5px;
}
.contato textarea{
    width: 100%;
    height: 130px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin-top: 10px;
    font-size: 15px;
    display: inline-block;
    outline: 0;
    resize: vertical;
}
.contato input[type=submit] {
    cursor: pointer;
    background-color: #585858;
    color: white;
    border: 0;
    width: 100px;
    height: 30px;
    display: block;
    border-radius: 30px;
    margin-top: 15px;
    font-size: 15px;
}
nav.mobile{
    display: none;
}
@media screen and (max-width: 768px){
    nav.desktop{
        display: none;
    }    
    nav.mobile{
		display: block;
		float: right;
	}
	nav.mobile i{
		font-size: 25px;
		color: white;
		position: relative;
		top: 20px;
		cursor: pointer;
	}
    nav.mobile ul{
		display: none;
		position: absolute;
		left: 0;
		z-index: 999;
		top: 60px;
		background-color: white;
		list-style: none;
		width: 100%;
		text-align: center;		
	}
	nav.mobile li{
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
	}
	nav.mobile li a{
		text-decoration: none;
		color: black;
	}
    .sobre > .center{       
        display: inline-flex;
        text-align: left;
        flex-direction: column;
        align-items: center;
    }
    .sobre-pic-outter{
        width: 50%; 
        margin-bottom: 15px;     
    }
    .sobre-pic{        
        position: relative;
    }       
    .sobre-description{
        width: 90%;    
    }
    .content{
        width: 100%;
        float: none;
        text-align: center;
    }
    .proj-content{        
        display: inline-flex;       
    }
    .w50{
        float: none;
        width: 90%;        
        margin: 15px auto;
    }
    .w50 p{
        margin: 10px 0;
    }
    
	
}